/* .home_reccomend{
    width:100%;

    margin-top: 150px;
}
.home_recommendbox{
    width: 90%;
    height: 300px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

} 

.home_recommendbox_list{
    width:14%;
    height: 200px;

}

.home_recommendbox_list_img{
    width: 100%;
    height: 150px;

}

.home_reccomendbox_title{
    margin: 0 auto;
    width:50%;
    height: 130px;

    text-align: center;
}
.home_recommendbox_list_title{
   text-align: center;
} */